* {

    background-color: rgb(26, 30, 29);

}

#page {

    display: flex;
    justify-content: space-between;

}

.background_image {

    width: 650px;
    height: auto;

}

#quote_text {


    color: rgb(243, 243, 243);
    font-size: xx-large;

}

#sign_up_text {

    color: rgb(243, 243, 243);
}

#create_text {

    color: rgb(243, 243, 243);
}

#section_1 {

    flex-shrink: 2;

}

#section_2 {

    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.sign_up_label {

    color: rgb(243, 243, 243);
}

#sign_up_today {

    color: rgb(243, 243, 243);
    font-weight: bolder;
    font-size: x-large;

}

#sign_up_area {

    display: flex;
    justify-content: space-evenly;
    width: 800px;
}


input, label {
    display: block;
}
.user_input {

    width: 250px;
}

#first_last_email{

    display: flex;
    flex-direction: column;
    gap: 9px;
}

#phone_pass_pass {

    display: flex;
    flex-direction: column;
    gap: 9px;
}