* {

    background-color: rgb(26, 30, 29);

}

#page {

    display: flex;
    justify-content: space-between;

}

.background_image {

    width: 650px;
    height: auto;

}

#quote_text {


    color: rgb(243, 243, 243);

}

#sign_up_text {

    color: rgb(243, 243, 243);
}

#create_text {

    color: rgb(243, 243, 243);
}

#section_1 {

    flex-shrink: 2;
    
}

#section_2 {

    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    
}